<!DOCTYPE html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>课堂管理系统</title>
  <link rel="stylesheet" href="../../static/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h1 style="color: #4b4b4b; font-weight: bold; margin-left: 50px; margin-top: 30px; font-family: '微软雅黑 Light'">欢迎登录数字化课堂管理系统</h1>
    </div>
  </div>

</div>

</body>
</html>
